<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417273574586-luftpsqka3kdil1jn1apk2ffqbuk14g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417273574586-luftpsqka3kdil1jn1apk2ffqbuk14g3</string>
	<key>API_KEY</key>
	<string>AIzaSyCxcZdkZDFSJBErY5sTz-yoQql7imdbZvg</string>
	<key>GCM_SENDER_ID</key>
	<string>417273574586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christopats.foodtruckmobile</string>
	<key>PROJECT_ID</key>
	<string>tc-food-truck-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tc-food-truck-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417273574586:ios:dbe0aee946e67f9d97fe83</string>
</dict>
</plist>
